body {
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 90%;
    margin: auto;
}

.navone { grid-area: logo; }
.navtwo { grid-area: home; }
.navthree { grid-area: about; }

.navtwo, .navthree {
    text-align: center;
}

.navone, .navtwo, .navthree {
    padding: 20px;
}

nav {
    margin: auto;
    display: grid;
    grid-template:
        'logo logo logo logo home about';;
}

.grid-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
}

.grid-item {
    text-align: center;
    background-color: royalblue;
    color: white;
    align-content: center;
    font-size: 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    font-style: italic;
}
